<p id="notice"><%= notice %></p>

<h1>Favorites</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Outfit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each_slice(6) do |photo2| %>
        <div class="item shadow">
            <div class="outfits">
                <%= image_tag(photo2[0].url(:square), :class => "item-img top") %>
                <%= image_tag(photo2[1].url(:square), :class => "item-img") %>
                <%= image_tag(photo2[2].url(:square), :class => "item-img") %>
                <%= image_tag(photo2[3].url(:square), :class => "item-img") %>
            </div>
        </div>
    <% end %>
  </tbody>
</table>

<br>

