<section>
   <div class="container">
      <p class="text-xs-center" id="notice"><%= notice %></p>
      <div class="row">
         <div class="col-xs-12">
             <div class="title text-xs-center">
                 <h1>My Wardrobe</h1>
             </div>
        </div>
      </div>

      <div class="row">
         <div class="text-xs-right">
            <%= link_to(new_photo_path, class:"btn btn-primary btn-margin shadow") do %>
               <i class="fa fa-plus fa-fw"></i> Add Items</a>
            <% end %>
         </div>
         <table class="table table-striped table-bordered">
            <thead class="thead-inverse">
               <tr>
                  <th>Category</th>
                  <th>Color</th>
                  <th>Picture</th>
                  <th>Style</th>
                  <th>Options</th>
               </tr>
            </thead>

            <tbody>
               <% @photos.each do |photo| %>

                  <tr>
                     <td><%= photo.category %></td>
                     <td><%= photo.color %></td>
                     <td><%= image_tag photo.image.url(:square) %></td>
                     <td><%= photo.style %></td>
                     <td>
                       <%= button_to "Delete", photo, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete this photo?" %>
                       <%= button_to "Edit", "/photos/" + photo.id.to_s + "/edit", method: :get,  class: "btn btn-edit" %>
                     </td>
                  </tr>

               <% end %>
            </tbody>

         </table>
      </div>
   </div>

</section>

<%= yield %>
