<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @photo.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @photo.category %>
</p>

<p>
  <strong>Color:</strong>
  <%= @photo.color %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
